.clients_container{
    -fx-background-color: linear-gradient(to bottom right, #3a8ca8, #f1f1f1,);
    -fx-alignment: center;
}

.clients_container Text{
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0 0 20 0;
    -fx-effect: dropshadow(gaussian, rgba(249, 249, 249, 0.18), 6, 0, 0, 2);
}
.clients_container .list-view{
    -fx-pref-width: 800;
    -fx-pref-height: 650;
    -fx-background-color: linear-gradient(to right, #feffff, #ace5eb);
    -fx-background-radius: 8;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(58, 140, 168, 0.12), 16, 0, 0, 4);
}
.clients_container .list-cell{
    -fx-font-size: 1.2em;
    -fx-padding: 10;
    -fx-border-color: #3a8ca8;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(58, 140, 168, 0.10), 8, 0, 0, 2);
}